@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

/* Global */

*{
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

/* Gerais */

h1, h2, h3, p{
    margin-bottom: 10px;
}

body{
    padding: 20px 0px;
    background-color: whitesmoke;
}

main{
    display: grid;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    grid-template-columns: repeat(6, 1fr);
    background-color: white;
    max-width: 1400px;
    margin: auto;
    padding: 20px;
    border: 1px solid lightgray;
}

/* Descricao Restaurante */

#descricao-restaurante{
    /* background-color: rgba(255, 0, 0, 0.75); */
    padding: 20px;
    border-radius: 10px;
    color: white;
    grid-column-start: span 2;
}

#descricao-restaurante h1, #descricao-restaurante h3{
    font-weight: bold;
}

#descricao-restaurante h1{
    font-size: 46px;
    line-height: 1.15;
    text-align: center;
}

#descricao-restaurante h3{
    text-align: center;
}

#descricao-restaurante :nth-child(3){ /*Paragrafo*/
    margin-top: 30px;
    margin-bottom: 30px;
}

.contacts{
    margin-bottom: 5px;
}

/* items */

#item-1{
    grid-column-start: 3;
    grid-column-end: 7;
}

#item-1 .imgs-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
}

#item-1 .descs-container{
    width: 80%;
    align-self: flex-end;
}

main :nth-child(3){
    grid-column-start: 1;
    grid-column-end: 4;
}

main :nth-child(4){
    grid-column-start: 4;
    grid-column-end: 7;
}

.itens{
    display: grid;
    gap: 15px;
    grid-column-start: span 2;
}

.itens .imgs-container, .itens .descs-container{
    padding: 10px;
    border-radius: 10px;
}

.imgs-container{
    min-height: 300px;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20230722/pngtree-illustration-of-a-fast-food-burger-image_3782799.jpg");
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    box-shadow: 0px 0px 4px lightgray;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.drinks{
    background-image: url("https://img.freepik.com/fotos-gratis/coqueteis-frescos-com-limao-gelado-e-ia-generativa-de-frutas_188544-12370.jpg?size=626&ext=jpg&ga=GA1.1.735520172.1710979200&semt=sph") !important;
}

.imgs-container:hover{
    transform: scale(101%);
    box-shadow: 0px 0px 8px 2px lightgray;
}

.precos-containers{
    background-color: transparent !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    padding: 0px !important;
    font-weight: bold;
}

.precos-containers div :nth-child(1){
    font-size: 20px;
    text-wrap: nowrap;
}

.precos{
    box-shadow: 0px 0px 2px whitesmoke;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 100% !important;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
}

.precos span{
    display: block;
}

.descs-container{
    background-color: rgb(255, 126, 21);
    /* border: 1px solid lightgray; */
    /* box-shadow: 0px 0px 4px lightgray; */
    box-shadow: 2px 2px rgba(0, 0, 0, 0.7);
}

/* Media Query */

@media screen and (max-width: 1300px) {
    /* main :nth-child(3){
        grid-column-start: span 2;
        grid-column-end: unset;
    }
    
    main :nth-child(4){
        grid-column-start: span 2;
        grid-column-end: unset;
    } */
}